*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

.bg-hero {
  background-image: url(./assets/images/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-about {
  background-image: url(./assets/images/about.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-contact {
  background-image: url(./assets/images/contact.webp);
  background-repeat: no-repeat;
  background-size: cover;

}

h1{
  font-size: 70px !important;
}

.link_style{
  transition: 300ms linear;
  border-bottom: 2px solid transparent;
}

.link_style:hover{
  border-bottom: 2px solid white;
}